{% extends 'core/base.html' %}
{% load crispy_forms_tags %}



{% block content %}
<h1>{{ user.first_name }} Official Page!!!</h1><br><br>
<h3>Employee Details:</h3>
<ul>
                        {% for e in p %}
                            {% if e.cname == user.first_name %}
                               <li>
                                    <p>Email: {{ e.email }} </p>
                                    <p>Type: {{ e.type }} </p>
                               </li>
                            {% endif %}
                        {% endfor %}
</ul>
<div class="row justify-content-center">
        <div class="col=6">
            <div class="card">
                <div class="card-body">
                    <div class="Container">
                        <h4>Add new employee details!!</h4>
                        <form enctype="multipart/form-data" method="POST" action="">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary">Add Employee</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}