{% extends 'core/base.html' %}


{% block content %}
    <h3>Employee Page</h3>
<p>Welcome to {{ p.company.cname }}, {{ user.first_name }} !!</p><br>
<p><img src='{{ MEDIA_URL }}{{ p.picture }}' height="60" width="60"></p>
<p> Contact:  {{ p.phone }} </p>
<p> Sex:  {{ p.gender }} </p>
<p> Favourites:  {{ p.hobbies }} </p>
<p> Company Name:  {{ p.company.cname }} </p>
<p> Employee type:  {{ p.company.type }} </p>
<p> Email: {{ p.company.email }} </p>
<p><a href="/member/{{ p.company.email }}/" class="btn btn-primary ml-2">Edit Personal</a></p>
{% endblock %}